# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# =========================
# Virtual Environment
# =========================
venv/
.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Database
# =========================
*.db

# =========================
# Logs
# =========================
*.log

# =========================
# Cache
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Build
# =========================
build/
dist/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db